<div class="character-import-form">
    <p>Enter Character Export Code:</p>
    <input name="code" class="character-import-code" type="text" maxlength="6" autofocus>
    <div class="character-import-text">
        <div class="character-import-name">&nbsp;</div>
        <div class="character-import-message">&nbsp;</div>
    </div>
    <footer class="sheet-footer">
        <button type="submit" name="import" disabled>
            <i class="fas fa-cloud-download-alt"></i> Import Character
        </button>
    </footer>
</div>
